<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width , initial-scale=1.0">
        <title>portfolio</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/png" href="../static/img/logo.png">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    </head>
    <body>
        <nav class="navbar" id="navbar">
            <div class="max-width">
                <div class="logo"><a href="#home">ID OUAHMANE KHADIJA</a></div>
                <ul class="menu" id="menu">
                    <li><a href="#home" onclick="Navclick()">Home</a></li>
                    <li><a href="#about" onclick="Navclick()">About</a></li>
                    <li><a href="#education" onclick="Navclick()">Education</a></li>
                    <li><a href="#skills" onclick="Navclick()">Skills</a></li>
                    <li><a href="#works" onclick="Navclick()">Works</a></li>
                    <li><a href="#experience" onclick="Navclick()">Experiences</a></li>
                    <li><a href="#contact" onclick="Navclick()">Contact</a></li>
                </ul>
                <div class="menu-btn" onclick="Navclick()" >
                    <i class="fas fa-bars" id="btn"></i>
                </div>
            </div>
        </nav>
        <div class="container">
           <div class="section home" id="home">
            <div class="max-width">
                <div class="home-content">
                    <div class="home-left">
                        <img src="../static/img/me.jpg" alt="">
                    </div>
                    <div class="home-right">
                        <div class="text-1">Hello! My Name Is</div>
                        <div class="text-2">khadija Idouahmane</div>
                        <div class="text-3">And I'm a
                            <a href="" class="typewrite" data-period="2000" data-type='[ "Software Engenner.","Web developper."]'>
                            <span class="wrap"></span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
           </div>
           <div class="section about" id="about">
            <div class="max-width">
                <h2 class="title">About me</h2>
                <div class="about-content">
                    <div class="column left">
                        <img src="../static/img/photo.jpg" alt="">
                    </div>
                    <div class="column right">
                        <div class="text">I'm khadija and I'm a <span>Software engenner</span></div>
                        <p>Currently software engineer student at Faculty of Science and Technologies Settat.</p>
                        <p>I'm a full stack web developper, I make web applications and I'm open to mobile appliactions as well.</p>
                            <a href="../static/pdf/CV_ID%20OUAHMANE%20_Khadija.pdf">Download resume</a>

                    </div>
                </div>
            </div>
           </div>
           <div class="section education" id="education">
               <div class="max-width">
                   <h2 class="title">Education</h2>
                   <div class="education-content">
                    <div class="timeline-area ">
                        <div>
                            <h2>2018-Present</h2>
                            <h3>Software Engineer Diploma</h3>
                            <h4>FSTS</h4>
                        </div>
                        <div>
                            <h2>2017-2018</h2>
                            <h3>Computer Engineering Degree</h3>
                            <h4>FSTS</h4>
                        </div>
                        <div>
                            <h2>2015-2017</h2>
                            <h3>Diploma of Scientific and Technical University Studies</h3>
                            <h4>FSTS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section skills" id="skills">
            <div class="max-width">
                <h2 class="title">Skills</h2>
                <div class="skills-content">
                    <div class="column left">
                        <div class="bars">
                            <div class="info">
                                <span>Java/JEE</span>
                                <span>90%</span>
                            </div>
                            <div class="line java"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>Python</span>
                                <span>70%</span>
                            </div>
                            <div class="line python"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>JavaScript</span>
                                <span>80%</span>
                            </div>
                            <div class="line js"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>PHP</span>
                                <span>60%</span>
                            </div>
                            <div class="line php"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>MYSQL - SQL Server</span>
                                <span>90%</span>
                            </div>
                            <div class="line mysql"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>Django</span>
                                <span>70%</span>
                            </div>
                            <div class="line django"></div>
                        </div>
                    </div>
                    <div class="column right">
                        <div class="bars">
                            <div class="info">
                                <span>Swift</span>
                                <span>60%</span>
                            </div>
                            <div class="line swift"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>Angular</span>
                                <span>50%</span>
                            </div>
                            <div class="line angular"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>React</span>
                                <span>50%</span>
                            </div>
                            <div class="line react"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>Spring MVC</span>
                                <span>80%</span>
                            </div>
                            <div class="line spring"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>Hibernate</span>
                                <span>90%</span>
                            </div>
                            <div class="line hibernate"></div>
                        </div>
                        <div class="bars">
                            <div class="info">
                                <span>BD Oracle</span>
                                <span>70%</span>
                            </div>
                            <div class="line oracle"></div>
                        </div>

                    </div>
             </div>
         </div>
     </div>

     <div class="section works" id="works">
        <div class="max-width">
            <h2 class="title">Works</h2>
            <div class="works-content">
            <div class="card">
                <div class="box">
                    <div class="text">Projects Management and monitoring</div>
                    <p> Web application  </p>
                    <p>Based on Java/JEE and Frameworks Hibernate , Spring MVC, Spring Security </p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Web site E-commerce</div>
                    <p> Web application for the sale and purchase of computer tools         </p>
                    <p>Based on Java/JEE  </p>
                 </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Products and documents management</div>
                    <p> Web application  </p>
                    <p>Based on Java/JEE and Frameworks Hibernate , Spring  </p>
                </div>
            </div>
            <div class="card" id="hidd">
                <div class="box" >
                    <div class="text">Recommender System</div>
                    <p> Web application for films recommandation</p>
                    <p>Based on Python and Framework Django  </p>
                </div>
            </div>
            <div class="card" id="hidd">
                <div class="box">
                    <div class="text">Weather application</div>
                    <p> Search the weather by cities name</p>
                    <p>Based on Swift , Core Data  </p>
                </div>
            </div>
            <div class="card" id="hidd">
                <div class="box" >
                    <div class="text">My Portfolio</div>
                    <p>Web application </p>
                    <p>Based on Python and Framwork Django</p>
                </div>
            </div>
        </div>
        </div>
        <div class="fotter">Find more on my Github <a href="https://github.com/IdhKhadija"><i class="fab fa-github"></i></a></div>
    </div>
    <div class="section experience" id="experience">
        <div class="max-width">
            <h2 class="title">Experiences</h2>
            <div class="experience-content">
             <div class="timeline-area-exp">
                 <div>
                     <h2>July & August 2019</h2>
                     <h3>CDVI Casablanca,Maroc</h3>
                     <h4>The conception and production of a web application for management of the products and documents of the entreprise using Java/JEE and Framework Hibernate , Spring .</h4>
                 </div>
                 <div>
                     <h2>April to Juin 2018</h2>
                     <h3>Elite Solutions Casablanca, Maroc</h3>
                     <h4>The conception and production of a web application for projects management and monitoring using Java/JEE and Framework Hibernate , Spring MVC, Spring Security</h4>
                 </div>
                 <div>
                     <h2>July 2017</h2>
                     <h3>Centrelec Casablanca, Maroc</h3>
                     <h4>Initial internship within the company Centrelec to the various departments.</h4>

                 </div>
             </div>
         </div>
     </div>
    </div>
    <div class="section contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">

                <div class="info">
                    <div class="icons">
                        <i class="fas fa-envelope" ></i>
                    </div>
                    <div class="donnees" id="email">
                        idouahmanekhadija5@gmail.com
                    </div>
                </div>
                <div class="info">
                    <div class="icons">
                        <a href="https://www.linkedin.com/in/khadija-idouahmane-b02195142/"> <i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="donnees">
                        khadija ID OUAHMANE
                    </div>
                </div>
                <div class="info">
                    <div class="icons">
                        <i class="fas fa-phone-square-alt"></i>
                    </div>
                    <div class="donnees">
                        +212622837867
                    </div>
                </div>


        </div>
        </div>
        <div class="fotter">
               <p>made with <span >&#128153;</span> by Me  </p>

        </div>
    </div>
</div>

        <script src="../static/js/script.js"></script>
    </body>
</html>
